<h1>List of Users</h1>

<p *ngIf="(users| async)?.length > 0">Click on the User's Id to edit the User.</p>

<p *ngIf="(users| async)?.length == 0"><em>There are currently no Users in the system...</em></p>

<table class='table' *ngIf="forecasts">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Age</th>
      <th>Adress</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.age }}</td>
      <td>{{ user.adress }}</td>
    </tr>
  </tbody>
</table>
